.homeWrap{
    width: 100% !important;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}
.titleTxt{
    font-size: xx-large;
    color: rgb(15, 15, 15);
    
}
.subscribeTxt{
    font-size: larger;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(15, 15, 15);
}
.emailDiv input{
    font-size: x-large;
    line-height: 150%;
    padding: 10px 16px;
    border: 4px solid black;
    border-right: none;
}
.emailDiv button{
    font-size: x-large;
    line-height: 150%;
    padding: 10px 16px;
    border: 4px solid black;
}
.carouselDiv{
    height: 400px;
    margin-top: 250px; 
    width: 100%;
    margin-bottom: 0px;
}
.carouselMobile{
    display: none;
}
.emailDiv{
    margin-bottom: 40px;
}

div > form{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}   
form > input {
    font-weight: 100;
    color: rgb(216, 216, 216);
    background: white;
    border: 2px solid black;
    padding: 16px 32px;
    width: 80%;
    font-size: larger;
}
form > button {
    background: black;
    text-transform: uppercase;
    color: white;
    border: none;
} 
form > div {
    font-size: 10px;
    height: auto;
    padding: 0px 8px;
}

    @media only screen and (max-width: 768px){
        .homeWrap{
            padding-bottom: 100px;
        }
        .carouselDesktop{
            display: none;
        }
        .carouselMobile{
            display: flex;
        }
        .carouselDiv{
            margin-top: 180px; 
            margin-bottom: -160px;
        }
        div > form{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 180px;
        } 
        .subscribeDiv{
            width: 80%;
            justify-content: center;
        }
        .emailDiv{
            width: 60%;
        }
        form > button {
            width: 80px;
        } 
}   





